[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Restart=on-failure
ExecStart=/opt/prometheus/bin/prometheus \
	-config.file=/opt/prometheus/etc/prometheus.yml \
	-storage.local.path=/var/lib/prometheus/data

[Install]
WantedBy=multi-user.target
